* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
.App {
  width: 100%;
  min-height: 100vh;
  background: #f79d00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #64f38c,
    #f79d00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #64f38c,
    #f79d00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  display: block;
  cursor: pointer;
}
.container {
  margin: auto;
  width: 100%;
  max-width: 54rem;
}
.container .selected {
  width: 32rem;
  height: 32rem;
  margin: 0 auto;
  outline: 1rem solid orange;
  padding: 1rem;
}
.imgContainer {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  column-gap: 2rem;
}
.App .imgContainer img {
  width: 10rem;
  height: 10rem;
  margin: 1rem 0;
}
